<div class="hero-section full-screen d-flex flex-column justify-content-center align-items-center">
  
  <div class="spline-bg">
    <spline-viewer url="https://prod.spline.design/T7sq2URZEARV6ETd/scene.splinecode"></spline-viewer>
  </div>
  
  <div class="hero-content text-white text-center">
    <div class="intro-tag-container d-flex align-items-center justify-content-center mb-3">
      <span class="intro-tag">NASA SPACE APPS</span>
      <span class="intro-dot ms-2"></span>
    </div>
    
    <h1 class="hero-title fw-bold mb-3">Innovate for the Future of Space</h1>
    
    <p class="hero-subtitle mb-4">
      Join global developers, designers, and innovators to solve real-world space challenges, build solutions that explore Earth and beyond.
    </p>
<div class="d-flex flex-column gap-2 align-items-center mt-3">
  <span class="hero-btn-text">Visualize Space Data in Real-Time</span>
  <span class="hero-btn-text" (click)="navigatetomap()">Turn NASA APIs into Interactive Insights</span>
</div>

  </div>
</div>

<div id="map"></div>
